<header>
  <nav class="nav" tabindex="-1">
  <a class="logo" href="{{ '/' | htmlBaseUrl }}">{{ metadata.title }}</a>
    <ul class="nav-menu">
      {%- for item in collections.all | eleventyNavigation -%}
        {%- if item.url -%}
          {%- set isCurrent = (item.url == page.url) -%}
          {%- set isParent = item.url != '/' and item.url in page.url -%}
          <li class="nav-item{% if isCurrent or isParent %} nav-item-active{% endif %}" title="{{ item.title }}">
            <a href="{% if isCurrent %}#main{% else %}{{ item.url | htmlBaseUrl }}{% endif %}" {% if isCurrent %} aria-current="page" {% endif %}>
              {{ item.title }}
            </a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </nav>
</header>
