{%- set absolutePageUrl -%}{{ metadata.url }}{{ page.url | htmlBaseUrl }}{%- endset -%}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{% if title %}{{ title }} - {% endif %}{{ metadata.title }}</title>
<meta name="author" content="{{ metadata.author.name }}"/>
<meta name="description" content="{{ description or metadata.description }}"/>
<link rel="canonical" href="{{ absolutePageUrl }}"/>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
