<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    {% include "meta.njk" %}
    <link href="/assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    {% include "header.njk" %}
    <main id="main">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    <!-- Current page: {{ page.url | htmlBaseUrl }} -->
  </body>
</html>
