---
layout: base
---

<article itemscope itemtype="http://schema.org/BlogPosting" class="h-entry">
  <h1 itemprop="headline" class="p-name">{{ title }}</h1>
  <div class="postmeta">Published on
    <time itemprop="datePublished" class="dt-published" datetime="{{ page.date | dateToFormat('yyyy-MM-dd') }}">{{ page.date | dateToFormat('DDD') }}</time>
    by
    <address itemprop="author" class="p-author h-card" itemscope itemtype="https://schema.org/Person">
      <a href="{{ metadata.author.url }}" rel="author" itemprop="name" class="p-name" tabindex="-1">{{ metadata.author.name }}</a>
    </address>
  </div>
  <div itemprop="articleBody" class="e-content">{{ content | safe }}</div>
</article>
{%- if collections.posts %}
  {%- set nextPost = collections.posts | getNextCollectionItem %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem %}
  {%- if nextPost or previousPost %}
    <hr/>
    <ul>
      {%- if nextPost %}
        <li>Next:
          <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
        </li>
      {% endif %}
      {%- if previousPost %}
        <li>Previous:
          <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
        </li>
      {% endif %}
    </ul>
  {%- endif %}
{%- endif %}
