@import './vendor/modern-normalize.css';

@import './vendor/nord.css';
@import './nord.additional.css';

@import './vendor/water.dark.css';
@import './water.fixes.css';
@import './water.custom.css';

@import './vendor/prism-nord.css';
@import './prism.nord.fixes.css';

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  margin-left: 24px;
}
/*
Used to keep each nav item the same size even when selected (and bold)
https://stackoverflow.com/a/32570813
*/
.nav-item::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}

.nav-item-active {
  font-weight: bold;
}

.postlist-link > h2 {
  display: contents;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--links);
}

footer {
  padding-top: 0;
}

body > footer {
  margin-top: 24px;
}
